mixin modal-success()
  h2.modal__title Поздравляем!
  p.modal__description.desktop-only Вы получаете шанс на выигрыш 4 000 000 рублей в Новогоднем беспределе на DragonMoney!
  p.modal__description.mobile-only Вы получаете 500 монет за выполнение заданий и еженедельный кэшбек 10%!
  a.modal__button.btn(href="#", target="_blank", rel="nofollow noopener") Забрать подарки
